All Jobs for <strong><%= @company.name %></strong>

<ul>
<% @jobs.each do |job| %>
  <li>
    <%= job.title %> at <%= job.company.name %>
    <%= link_to "Delete", company_job_path(@company, job), method: "delete" %>
  </li>
<% end %>
</ul>

<%= form_for [ @company, @contact] do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %><br>
  <%= f.label :position %>
  <%= f.text_field :position %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.submit "Submit" %>
<% end %>

<h4>Contact Information</h4>
<% @company.contacts.each do |contact| %>
  <p>
    <%= contact.full_name %><br>
    <%= contact.position %><br>
    <%= contact.email %><br>
    <%= @company.name %>
  </p>
<% end %>

